.item {
  height: 25em;
  width: 25em;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(180deg, #18154c, #3731a7);
  color: white;
}

.item-pic {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  background-color: white;
}

.item-pic img {
  object-fit: contain;
  margin: 0 auto;
  width: 1000%;
  height: 100%;
}

.item-desc {
  padding: 10px;
}

.ratingP {
  position: absolute;
  bottom: 5px;
  right: 7em;
  padding-top: 25px;
  font-size: 0.9em;
  font-weight: bold;
}

.starRatings {
  position: absolute;
  bottom: 0%;
  right: 0;
}

.item h3 {
  position: absolute;
  top: 53%;
  font-weight: bold;
}

.price {
  position: absolute;
  right: 1em;
  bottom: 3em;
  font-size: 1.2em;
  font-weight: bold;
}

.shortdesc {
  position: absolute;
  top: 60%;
  font-size: 1em;
}

.back ul {
  margin-left: 1.5em;
  margin-top: 1em;
}

.back ul li {
  font-size: 1.1em;
  margin-bottom: 10px;
  list-style-type: square;
}

.objKeys {
  font-weight: bold;
}

.objValues {
  margin-left: 10px;
}

.back .cart-button {
  padding: 8px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 1.4em;
  border: none;
  border-radius: 10px;
  background-color: rgb(254, 35, 177);
  color: white;
  transition: 0.2s ease;
}

.back .cart-button:hover {
  cursor: pointer;
  background-color: darken(rgb(254, 35, 177), $amount: 20%);
}

.cart-error {
  padding: 10px;
  font-size: 1.4em;
  border: none;
  border-radius: 10px;
  background-color: lighten(rgb(24, 21, 76), $amount: 75%);
  transition: 0.2s ease;
  color: darkred;
}
