.cart {
  padding-top: 15vh;
  position: relative;
  height: 100vh;
}

.cart table {
  width: 92%;
  margin: 0 auto;
}

.overlay-cart {
  position: absolute;
  top: 0;
  padding-top: 10vh;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.ticket {
  height: 40vh;
  background-color: white;
  width: 30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.ticket h3 {
  border-bottom: 2px solid black;
  font-size: 1em;
  padding-bottom: 1vh;
}

.ticket span {
  font-size: 0.8em;
  float: right;
  font-weight: bold;
}

.ticket-details {
  margin-top: 10px;
  height: 80%;
}

.ticket h4 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1.5vh;
}

.ticket-total {
  border-top: 2px solid red;
  padding: 1vh;
}

.close-ticket {
  align-self: flex-end;
  color: red;
  margin-bottom: 1vh;
  font-size: 1.3em;
}

.close-ticket:hover {
  color: darkred;
  cursor: pointer;
}

.productLink {
  padding: 10px 12px;
  background: linear-gradient(to right, #18154c, #3731a7);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.1s ease-in;
}
