.landing {
  background-image: url("./AdobeStock_179554804.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 3em;
}

.overlay p {
  margin-top: 0.9em;
  font-size: 1.8em;
  text-align: center;
}

.link-shop {
  position: absolute;
  bottom: 25%;
  left: 19%;
  color: white;
  font-size: 2em;
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.15s border ease-in;
}

.link-shop:hover {
  border: 5px solid white;
}

@media only screen and (max-width: 426px) {
  .overlay h1 {
    font-size: 1.8em;
    padding: 0.5em;
  }

  .overlay p {
    padding: 0.5em;
    font-size: 1.2em;
  }
}
