.navbar {
  width: 100%;
  height: 10vh;
  background-color: #f8f9fa;
  color: #18154c;
  border-bottom: 2px solid #18154c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5em 0 5em;
  position: fixed;
  z-index: 9999;
}

.navbar a {
  text-decoration: none;
}

.logo {
  height: 100px;
  width: 100px;
}

.logo img {
  height: 95%;
  width: 95%;
}

.nav-form {
  width: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4em;
}

.link {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}

.link:hover {
  font-weight: bold;
  border-bottom: 2px solid #18154c;
}

.shopIcon,
.userIcon {
  font-size: 2.2em;
  color: #18154c;
}

.userIconToggled {
  font-size: 2.2em;
  color: #312b9c;
}

.userIconToggled:hover {
  color: #18154c;
  cursor: pointer;
}

.shopIcon:hover,
.userIcon:hover {
  color: #312b9c;
  cursor: pointer;
}

.shopcart p {
  position: absolute;
  right: 7.8em;
  top: 0.4em;
  background-color: #fe23b1;
  border: none;
  color: #f8f9fa;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.user-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-menu {
  position: fixed;
  right: 2.3em;
  top: 9.85vh;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 18vh;
  width: 8em;
  text-decoration: none;
  padding: 10px;
  z-index: 9999;
}

.user {
  font-size: 2.4em;
}

.user-menu button {
  background-color: #fe23b1;
  color: #f8f9fa;
  border: none;
  border-radius: 10px;
  padding: 4px 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
}

.user-menu button:hover {
  padding: 4px 25px;
  cursor: pointer;
  background-color: #ba0179;
}

.userName {
  text-decoration: none;
  font-size: 1.2em;
  width: 90%;
  text-align: center;
  word-wrap: break-word;
}

.search {
  position: absolute;
  top: 10vh;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: black;
  width: 40%;
  left: 50%;
  color: white;
}

.search li {
  color: white;
}

.on {
  height: 25vh;
  -webkit-animation: ON 0.5s ease-in-out;
          animation: ON 0.5s ease-in-out;
}

@-webkit-keyframes ON {
  from {
    height: 0;
  }
  to {
    height: 25vh;
  }
}

@keyframes ON {
  from {
    height: 0;
  }
  to {
    height: 25vh;
  }
}

.off {
  height: 0;
  -webkit-animation: OFF 0.5s ease-in-out;
          animation: OFF 0.5s ease-in-out;
}

@-webkit-keyframes OFF {
  from {
    height: 25vh;
  }
  to {
    height: 0;
  }
}

@keyframes OFF {
  from {
    height: 25vh;
  }
  to {
    height: 0;
  }
}
/*# sourceMappingURL=navbar.css.map */