$primary-color: rgb(24, 21, 76);
$secondary-color: rgb(248, 249, 250);

.navbar {
  width: 100%;
  height: 10vh;
  background-color: $secondary-color;
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em 0 5em;
  position: fixed;
  z-index: 9999;
}

.navbar a {
  text-decoration: none;
}

.logo {
  height: 100px;
  width: 100px;
}

.logo img {
  height: 95%;
  width: 95%;
}

.nav-form {
  width: 8em;
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}

.link {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}

.link:hover {
  font-weight: bold;
  border-bottom: 2px solid $primary-color;
}

.shopIcon,
.userIcon {
  font-size: 2.2em;
  color: $primary-color;
}

.userIconToggled {
  font-size: 2.2em;
  color: lighten($color: $primary-color, $amount: 20%);
}

.userIconToggled:hover {
  color: $primary-color;
  cursor: pointer;
}
.shopIcon:hover,
.userIcon:hover {
  color: lighten($color: $primary-color, $amount: 20%);
  cursor: pointer;
}

.shopcart p {
  position: absolute;
  right: 7.8em;
  top: 0.4em;
  background-color: rgb(254, 35, 177);
  border: none;
  color: $secondary-color;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.user-control {
  display: flex;
  width: 9em;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.user-menu {
  position: fixed;
  right: 2.3em;
  top: 9.85vh;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 18vh;
  width: 8em;
  text-decoration: none;
  padding: 10px;
  z-index: 9999;
}

.user {
  font-size: 2.4em;
}

.user-menu button {
  background-color: rgb(254, 35, 177);
  color: $secondary-color;
  border: none;
  border-radius: 10px;
  padding: 4px 15px;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
}

.user-menu button:hover {
  padding: 4px 25px;
  cursor: pointer;
  background-color: darken(rgb(254, 35, 177), $amount: 20%);
}

.userName {
  text-decoration: none;
  font-size: 1.2em;
  width: 90%;
  text-align: center;
  word-wrap: break-word;
}

.search {
  position: absolute;
  top: 10vh;
  transform: translate(-50%);
  background-color: black;
  width: 40%;
  left: 50%;
  color: white;
}

.search li {
  color: white;
}

.on {
  height: 25vh;
  animation: ON 0.5s ease-in-out;
}

@keyframes ON {
  from {
    height: 0;
  }
  to {
    height: 25vh;
  }
}

.off {
  height: 0;
  animation: OFF 0.5s ease-in-out;
}
@keyframes OFF {
  from {
    height: 25vh;
  }
  to {
    height: 0;
  }
}

@media only screen and (max-width: 426px) {
  .nav-form {
    width: 8em;
  }

  .user-control {
    width: 6em;
    margin-left: 40px;
  }

  .shopcart p {
    right: 4.2em;
    font-size: 0.8em;
  }

  .user-menu {
    right: 0;
    top: 9.8vh;
  }

  .navbar {
    padding: 0 1em 0 1em;
  }
}
