$primary-color: rgb(24, 21, 76);
$secondary-color: rgb(248, 249, 250);

.navbar {
  width: 100%;
  height: 10vh;
  background-color: $secondary-color;
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em 0 5em;
}
.navbar a {
  text-decoration: none;
}
.logo {
  height: 100px;
  width: 100px;
}

.logo img {
  height: 95%;
  width: 95%;
}
.links {
  width: 50%;
  text-align: center;
}

.anchor input {
  margin-left: 1em;
  border-radius: 10px;
  border: 1px solid $primary-color;
  padding: 0.8em;
}

.anchor {
  margin-left: 4em;
  text-decoration: none;
  font-size: 1.4em;
}

.nav-form {
  width: 10em;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.user-control {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 8em;
  height: 80%;
}

.user-control a {
}

.shopcart {
}

.shopIcon {
  font-size: 1.8em;
}

.user-control button {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  border-radius: 10px;
  padding: 4px 15px;
  transition: 0.3s ease-in-out;
}

.user-control button:hover {
  padding: 4px 25px;
  cursor: pointer;
}

.search {
  position: absolute;
  top: 10vh;
  transform: translate(-50%);
  background-color: black;
  width: 40%;
  left: 50%;
  color: white;
}

.search li {
  color: white;
}

.on {
  height: 25vh;
  animation: ON 0.5s ease-in-out;
}

@keyframes ON {
  from {
    height: 0;
  }
  to {
    height: 25vh;
  }
}

.off {
  height: 0;
  animation: OFF 0.5s ease-in-out;
}
@keyframes OFF {
  from {
    height: 25vh;
  }
  to {
    height: 0;
  }
}
