.products-page {
  width: 92%;
  margin: 0 auto;
  display: flex;
  padding-top: 10vh;
  height: 100vh;
}

.categories {
  width: 15%;
  position: fixed;
  top: 40%;
}

.searchicn {
  color: rebeccapurple;
  margin-right: 5px;
}
