.products-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10vh;
  overflow-y: visible;
  position: relative;
}

.categories {
  width: 15%;
  padding-top: 3em;
}

.categories li {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3em;
  padding: 8px;
  text-indent: 10px;
  border-radius: 10px;
}

.categories li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#18154c), to(#3731a7));
  background: linear-gradient(to right, #18154c, #3731a7);
  color: #fe23b1;
  cursor: pointer;
}

.categories form {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories form input {
  font-size: 1em;
  border-radius: 10px;
  border: 2px solid #18154c;
  width: 11em;
}

.categories button {
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 1em;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#18154c), to(#3731a7));
  background: linear-gradient(to right, #18154c, #3731a7);
}

.shown-products {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.beActive {
  background: -webkit-gradient(linear, left top, right top, from(#18154c), to(#3731a7));
  background: linear-gradient(to right, #18154c, #3731a7);
  color: #fe23b1;
}

.toggleFilters {
  width: 100px;
}

@media only screen and (max-width: 426px) {
  .categories {
    width: 100%;
    height: 13em;
    padding-top: 1em;
  }
  .categories ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
  }
  .products-page {
    padding-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .categories ul li {
    margin: 0;
    margin-left: 10px;
    text-indent: 0;
    padding: 5px 10px;
    font-size: 1.2em;
  }
  .categories form {
    width: 90%;
    margin: 1em auto;
  }
  .categories form input {
    width: 16em;
  }
  .cat-mob {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .toggleFilters {
    background-color: #18154c;
    color: white;
    border: none;
    font-size: 1.2em;
    width: 7em;
    padding: 8px;
    border-radius: 10px;
    margin: 0 auto;
  }
  .shown-products {
    width: 100%;
  }
}
/*# sourceMappingURL=Products.css.map */